footer.footer
  .footer__details
    ul.social-media-links
      li
        a.sm__icon(href="https://twitter.com/_IbraheemAbiola")
          svg.icon
            use(href="./img/icons/icons.svg#icon-twitter")
      li
        a.sm__icon(href="https://www.linkedin.com/in/abiola-ibraheem-ajibola-664b63247/")
          svg.icon
            use(href="./img/icons/icons.svg#icon-linkedin")
      li
        a.sm__icon(href="https://github.com/Abibaj")
          svg.icon
            use(href="./img/icons/icons.svg#icon-github1")
      li
        a.sm__icon(href="https://web.facebook.com/abiola.ibraheem.1466/")
          svg.icon
            use(href="./img/icons/icons.svg#icon-facebook")
      li
        a.sm__icon(href="mailto:abiolaibraheemajibola@gmail.com")
          svg.icon
            use(href="./img/icons/icons.svg#icon-google3")
    p.footer__details--copyright.
      
      Copyright © 2021 My Website. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      