.sidebar
  nav.sidebar__nav
    a(href="#")
      .sidebar__card.open-window
        svg.icon
          use(href="./img/icons/icons.svg#icon-file-text2")
        span.sidebar__text New Note 
    a(href="/reminders")
      .sidebar__card
        svg.icon
          use(href="./img/icons/icons.svg#icon-alarm")
        span.sidebar__text Reminders 
    a(href="/newlabel")
      .sidebar__card
        svg.icon
          use(href="./img/icons/icons.svg#icon-price-tag1")
        span.sidebar__text New label 
    a(href="/archive")
      .sidebar__card
        svg.icon
          use(href="./img/icons/icons.svg#icon-box-add")
        span.sidebar__text Archive 
    a(href="/deleted")
      .sidebar__card
        svg.icon
          use(href="./img/icons/icons.svg#icon-bin")
        span.sidebar__text Deleted 
    a(href="/settings")
      .sidebar__card
        svg.icon
          use(href="./img/icons/icons.svg#icon-cog1")
        span.sidebar__text Settings 
    a(href="/faq")
      .sidebar__card
        svg.icon
          use(href="./img/icons/icons.svg#icon-help")
        span.sidebar__text Help & feedback 