.sidebar
  nav.nav
    a(href='#')
      .sidebar__card Note
    a(href='#')
      .sidebar__card Reminders
    a(href='#')
      .sidebar__card Create new label
    a(href='#')
      .sidebar__card Archive
    a(href='#')
      .sidebar__card Deleted
    a(href='#')
      .sidebar__card Settings
    a(href='#')
      .sidebar__card Help &amp; feedback